
@{
    Layout = "~/Views/Shared/_NGOL.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/NGO/AddEmployee/" class="btn btn-primary">Add Employee</a>
<a href="/Restaurant/RegesterRestaurant" class="btn btn-success">Add Restaurant</a>
<a href="/NGO/ViewRequest/" class="btn btn-secondary">View Request</a>
<a href="/NGO/RejectedRequest/" class="btn btn-danger">Rejected Request</a>